body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FFEEBB

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* LOGIN */

.login-div {
  margin: auto;
  width: 90%;
  text-align: center;
}

.login-div h1 {
  color: #006666;
  font-size: 60px;
  margin-bottom: 20px
}

.login-div img {
  max-width: 320px;
  margin-bottom: 30px
}

.signup-input {
  margin-bottom: 10px;
  margin-right: 10px;
  padding-left: 10px;
  width: 180px;
  height: 24px;
  border-radius: 4px;
  border-style: solid;
  border-color: #006666
}

.login-form {
  margin-left: 40px;
}

.login-input {
  margin-bottom: 10px;
  margin-right: 10px;
  padding-left: 10px;
  width: 180px;
  height: 24px;
  border-radius: 4px;
  border-style: solid;
  border-color: #006666
}

.login-div button {
  height: 30px;
  border-radius: 4px;
  border-style: none;
  background-color: #006666;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  font-size: medium
}

.login-div button:hover {
  cursor: pointer;
}

/* QUESTIONS */
.q-div {
  margin: auto;
  width: 90%;
  text-align: center;
}

.q-status {
  text-align: left
}

.q-div h2 {
  color: #006666
}

.options-div {
  margin: auto;
  width: 50%;
  text-align: center
}

.q-option {
  display: flex;
  margin: auto;
  width: 400px;
  height: 45px;
  padding-top: 13px;
  margin-bottom: 10px;
  padding-left: 10px;
  font-size: large;
  background-color: #FFCC66;
  border-radius: 4px;
  border: none;
}

.q-option:hover {
  cursor: pointer;
  background-color: #006666;
  color: #FFEEBB
}

.q-option:focus {
  background-color: #006666;
  color: #FFEEBB
}

.q-div p {
  color: #006666
}

.submit-btn {
  width: 200px;
  height: 40px;
  font-size: large;
  background-color: #FFCC66;
  border-radius: 4px
}

.submit-btn:hover {
  cursor: pointer;
  background-color: #006666;
  color: #FFEEBB
}

.next-q{
  width: 200px;
  height: 40px;
  font-size: large;
  background-color: #FFCC66;
  border-radius: 4px
}

.next-q:hover {
  cursor: pointer;
  background-color: #006666;
  color: #FFEEBB
}

/* END */

.end-div {
  margin: auto;
  width: 90%;
  text-align: center;
}

.end-div h2 {
  color: #006666;
  margin-bottom: 50px
}

.end-div img {
  float: left;
  margin-left: 200px
}

.top5-div {
  margin-top: 60px;
  margin-right: 200px;
  margin-bottom: 40px
}

.end-div button {
  width: 200px;
  height: 40px;
  font-size: large;
  background-color: #FFCC66;
  border-radius: 4px;
  margin-right: 200px
}

.end-div button:hover {
  cursor: pointer;
  background-color: #006666;
  color: #FFEEBB
}


/* STATUS BAR */

.status-bar-1 {
  border-style: solid;
  border-color: #9DBCBC;
  margin: auto;
  margin-top: 20px;
  width: 90%;
  padding-left: 20px;
  position: relative;
  color: black
}

.status-bar-1:after {
  content: '\A';
    position: absolute;
    background-color: #9DBCBC;
    top: 0; bottom: 0;
    left: 0; 
    width: 2%;
    opacity: 0.5
}

.status-bar-2 {
  border-style: solid;
  border-color: #9DBCBC;
  margin: auto;
  margin-top: 20px;
  width: 90%;
  padding-left: 20px;
  position: relative;
  color: black
}

.status-bar-2:after {
  content: '\A';
    position: absolute;
    background-color: #9DBCBC;
    top: 0; bottom: 0;
    left: 0; 
    width: 4%;
    opacity: 0.5
}

.status-bar-3 {
  border-style: solid;
  border-color: #9DBCBC;
  margin: auto;
  margin-top: 20px;
  width: 90%;
  padding-left: 20px;
  position: relative;
  color: black
}

.status-bar-3:after {
  content: '\A';
    position: absolute;
    background-color: #9DBCBC;
    top: 0; bottom: 0;
    left: 0; 
    width: 6%;
    opacity: 0.5
}

.status-bar-4 {
  border-style: solid;
  border-color: #9DBCBC;
  margin: auto;
  margin-top: 20px;
  width: 90%;
  padding-left: 20px;
  position: relative;
  color: black
}

.status-bar-4:after {
  content: '\A';
    position: absolute;
    background-color: #9DBCBC;
    top: 0; bottom: 0;
    left: 0; 
    width: 8%;
    opacity: 0.5
}

.status-bar-5 {
  border-style: solid;
  border-color: #9DBCBC;
  margin: auto;
  margin-top: 20px;
  width: 90%;
  padding-left: 20px;
  position: relative;
  color: black
}

.status-bar-5:after {
  content: '\A';
    position: absolute;
    background-color: #9DBCBC;
    top: 0; bottom: 0;
    left: 0; 
    width: 10%;
    opacity: 0.5
}

.status-bar-6 {
  border-style: solid;
  border-color: #9DBCBC;
  margin: auto;
  margin-top: 20px;
  width: 90%;
  padding-left: 20px;
  position: relative;
  color: black
}

.status-bar-6:after {
  content: '\A';
    position: absolute;
    background-color: #9DBCBC;
    top: 0; bottom: 0;
    left: 0; 
    width: 12%;
    opacity: 0.5
}

.status-bar-7 {
  border-style: solid;
  border-color: #9DBCBC;
  margin: auto;
  margin-top: 20px;
  width: 90%;
  padding-left: 20px;
  position: relative;
  color: black
}

.status-bar-7:after {
  content: '\A';
    position: absolute;
    background-color: #9DBCBC;
    top: 0; bottom: 0;
    left: 0; 
    width: 14%;
    opacity: 0.5
}

.status-bar-8 {
  border-style: solid;
  border-color: #9DBCBC;
  margin: auto;
  margin-top: 20px;
  width: 90%;
  padding-left: 20px;
  position: relative;
  color: black
}

.status-bar-8:after {
  content: '\A';
    position: absolute;
    background-color: #9DBCBC;
    top: 0; bottom: 0;
    left: 0; 
    width: 16%;
    opacity: 0.5
}

.status-bar-9 {
  border-style: solid;
  border-color: #9DBCBC;
  margin: auto;
  margin-top: 20px;
  width: 90%;
  padding-left: 20px;
  position: relative;
  color: black
}

.status-bar-9:after {
  content: '\A';
    position: absolute;
    background-color: #9DBCBC;
    top: 0; bottom: 0;
    left: 0; 
    width: 18%;
    opacity: 0.5
}

.status-bar-10 {
  border-style: solid;
  border-color: #9DBCBC;
  margin: auto;
  margin-top: 20px;
  width: 90%;
  padding-left: 20px;
  position: relative;
  color: black
}

.status-bar-10:after {
  content: '\A';
    position: absolute;
    background-color: #9DBCBC;
    top: 0; bottom: 0;
    left: 0; 
    width: 20%;
    opacity: 0.5
}

.status-bar-11 {
  border-style: solid;
  border-color: #9DBCBC;
  margin: auto;
  margin-top: 20px;
  width: 90%;
  padding-left: 20px;
  position: relative;
  color: black
}

.status-bar-11:after {
  content: '\A';
    position: absolute;
    background-color: #9DBCBC;
    top: 0; bottom: 0;
    left: 0; 
    width: 22%;
    opacity: 0.5
}

.status-bar-12 {
  border-style: solid;
  border-color: #9DBCBC;
  margin: auto;
  margin-top: 20px;
  width: 90%;
  padding-left: 20px;
  position: relative;
  color: black
}

.status-bar-12:after {
  content: '\A';
    position: absolute;
    background-color: #9DBCBC;
    top: 0; bottom: 0;
    left: 0; 
    width: 24%;
    opacity: 0.5
}

.status-bar-13 {
  border-style: solid;
  border-color: #9DBCBC;
  margin: auto;
  margin-top: 20px;
  width: 90%;
  padding-left: 20px;
  position: relative;
  color: black
}

.status-bar-13:after {
  content: '\A';
    position: absolute;
    background-color: #9DBCBC;
    top: 0; bottom: 0;
    left: 0; 
    width: 26%;
    opacity: 0.5
}

.status-bar-14 {
  border-style: solid;
  border-color: #9DBCBC;
  margin: auto;
  margin-top: 20px;
  width: 90%;
  padding-left: 20px;
  position: relative;
  color: black
}

.status-bar-14:after {
  content: '\A';
    position: absolute;
    background-color: #9DBCBC;
    top: 0; bottom: 0;
    left: 0; 
    width: 28%;
    opacity: 0.5
}

.status-bar-15 {
  border-style: solid;
  border-color: #9DBCBC;
  margin: auto;
  margin-top: 20px;
  width: 90%;
  padding-left: 20px;
  position: relative;
  color: black
}

.status-bar-15:after {
  content: '\A';
    position: absolute;
    background-color: #9DBCBC;
    top: 0; bottom: 0;
    left: 0; 
    width: 30%;
    opacity: 0.5
}

.status-bar-16 {
  border-style: solid;
  border-color: #9DBCBC;
  margin: auto;
  margin-top: 20px;
  width: 90%;
  padding-left: 20px;
  position: relative;
  color: black
}

.status-bar-16:after {
  content: '\A';
    position: absolute;
    background-color: #9DBCBC;
    top: 0; bottom: 0;
    left: 0; 
    width: 32%;
    opacity: 0.5
}

.status-bar-17 {
  border-style: solid;
  border-color: #9DBCBC;
  margin: auto;
  margin-top: 20px;
  width: 90%;
  padding-left: 20px;
  position: relative;
  color: black
}

.status-bar-17:after {
  content: '\A';
    position: absolute;
    background-color: #9DBCBC;
    top: 0; bottom: 0;
    left: 0; 
    width: 34%;
    opacity: 0.5
}

.status-bar-18 {
  border-style: solid;
  border-color: #9DBCBC;
  margin: auto;
  margin-top: 20px;
  width: 90%;
  padding-left: 20px;
  position: relative;
  color: black
}

.status-bar-18:after {
  content: '\A';
    position: absolute;
    background-color: #9DBCBC;
    top: 0; bottom: 0;
    left: 0; 
    width: 36%;
    opacity: 0.5
}

.status-bar-19 {
  border-style: solid;
  border-color: #9DBCBC;
  margin: auto;
  margin-top: 20px;
  width: 90%;
  padding-left: 20px;
  position: relative;
  color: black
}

.status-bar-19:after {
  content: '\A';
    position: absolute;
    background-color: #9DBCBC;
    top: 0; bottom: 0;
    left: 0; 
    width: 38%;
    opacity: 0.5
}

.status-bar-20 {
  border-style: solid;
  border-color: #9DBCBC;
  margin: auto;
  margin-top: 20px;
  width: 90%;
  padding-left: 20px;
  position: relative;
  color: black
}

.status-bar-20:after {
  content: '\A';
    position: absolute;
    background-color: #9DBCBC;
    top: 0; bottom: 0;
    left: 0; 
    width: 40%;
    opacity: 0.5
}

.status-bar-21 {
  border-style: solid;
  border-color: #9DBCBC;
  margin: auto;
  margin-top: 20px;
  width: 90%;
  padding-left: 20px;
  position: relative;
  color: black
}

.status-bar-21:after {
  content: '\A';
    position: absolute;
    background-color: #9DBCBC;
    top: 0; bottom: 0;
    left: 0; 
    width: 42%;
    opacity: 0.5
}

.status-bar-22 {
  border-style: solid;
  border-color: #9DBCBC;
  margin: auto;
  margin-top: 20px;
  width: 90%;
  padding-left: 20px;
  position: relative;
  color: black
}

.status-bar-22:after {
  content: '\A';
    position: absolute;
    background-color: #9DBCBC;
    top: 0; bottom: 0;
    left: 0; 
    width: 44%;
    opacity: 0.5
}

.status-bar-23 {
  border-style: solid;
  border-color: #9DBCBC;
  margin: auto;
  margin-top: 20px;
  width: 90%;
  padding-left: 20px;
  position: relative;
  color: black
}

.status-bar-23:after {
  content: '\A';
    position: absolute;
    background-color: #9DBCBC;
    top: 0; bottom: 0;
    left: 0; 
    width: 46%;
    opacity: 0.5
}

.status-bar-24 {
  border-style: solid;
  border-color: #9DBCBC;
  margin: auto;
  margin-top: 20px;
  width: 90%;
  padding-left: 20px;
  position: relative;
  color: black
}

.status-bar-24:after {
  content: '\A';
    position: absolute;
    background-color: #9DBCBC;
    top: 0; bottom: 0;
    left: 0; 
    width: 48%;
    opacity: 0.5
}

.status-bar-25 {
  border-style: solid;
  border-color: #9DBCBC;
  margin: auto;
  margin-top: 20px;
  width: 90%;
  padding-left: 20px;
  position: relative;
  color: black
}

.status-bar-25:after {
  content: '\A';
    position: absolute;
    background-color: #9DBCBC;
    top: 0; bottom: 0;
    left: 0; 
    width: 50%;
    opacity: 0.5
}

.status-bar-26 {
  border-style: solid;
  border-color: #9DBCBC;
  margin: auto;
  margin-top: 20px;
  width: 90%;
  padding-left: 20px;
  position: relative;
  color: black
}

.status-bar-26:after {
  content: '\A';
    position: absolute;
    background-color: #9DBCBC;
    top: 0; bottom: 0;
    left: 0; 
    width: 52%;
    opacity: 0.5
}

.status-bar-27 {
  border-style: solid;
  border-color: #9DBCBC;
  margin: auto;
  margin-top: 20px;
  width: 90%;
  padding-left: 20px;
  position: relative;
  color: black
}

.status-bar-27:after {
  content: '\A';
    position: absolute;
    background-color: #9DBCBC;
    top: 0; bottom: 0;
    left: 0; 
    width: 54%;
    opacity: 0.5
}

.status-bar-28 {
  border-style: solid;
  border-color: #9DBCBC;
  margin: auto;
  margin-top: 20px;
  width: 90%;
  padding-left: 20px;
  position: relative;
  color: black
}

.status-bar-28:after {
  content: '\A';
    position: absolute;
    background-color: #9DBCBC;
    top: 0; bottom: 0;
    left: 0; 
    width: 56%;
    opacity: 0.5
}

.status-bar-29 {
  border-style: solid;
  border-color: #9DBCBC;
  margin: auto;
  margin-top: 20px;
  width: 90%;
  padding-left: 20px;
  position: relative;
  color: black
}

.status-bar-29:after {
  content: '\A';
    position: absolute;
    background-color: #9DBCBC;
    top: 0; bottom: 0;
    left: 0; 
    width: 58%;
    opacity: 0.5
}

.status-bar-30 {
  border-style: solid;
  border-color: #9DBCBC;
  margin: auto;
  margin-top: 20px;
  width: 90%;
  padding-left: 20px;
  position: relative;
  color: black
}

.status-bar-30:after {
  content: '\A';
    position: absolute;
    background-color: #9DBCBC;
    top: 0; bottom: 0;
    left: 0; 
    width: 60%;
    opacity: 0.5
}

.status-bar-31 {
  border-style: solid;
  border-color: #9DBCBC;
  margin: auto;
  margin-top: 20px;
  width: 90%;
  padding-left: 20px;
  position: relative;
  color: black
}

.status-bar-31:after {
  content: '\A';
    position: absolute;
    background-color: #9DBCBC;
    top: 0; bottom: 0;
    left: 0; 
    width: 62%;
    opacity: 0.5
}

.status-bar-32 {
  border-style: solid;
  border-color: #9DBCBC;
  margin: auto;
  margin-top: 20px;
  width: 90%;
  padding-left: 20px;
  position: relative;
  color: black
}

.status-bar-32:after {
  content: '\A';
    position: absolute;
    background-color: #9DBCBC;
    top: 0; bottom: 0;
    left: 0; 
    width: 64%;
    opacity: 0.5
}

.status-bar-33 {
  border-style: solid;
  border-color: #9DBCBC;
  margin: auto;
  margin-top: 20px;
  width: 90%;
  padding-left: 20px;
  position: relative;
  color: black
}

.status-bar-33:after {
  content: '\A';
    position: absolute;
    background-color: #9DBCBC;
    top: 0; bottom: 0;
    left: 0; 
    width: 66%;
    opacity: 0.5
}

.status-bar-34 {
  border-style: solid;
  border-color: #9DBCBC;
  margin: auto;
  margin-top: 20px;
  width: 90%;
  padding-left: 20px;
  position: relative;
  color: black
}

.status-bar-34:after {
  content: '\A';
    position: absolute;
    background-color: #9DBCBC;
    top: 0; bottom: 0;
    left: 0; 
    width: 68%;
    opacity: 0.5
}

.status-bar-35 {
  border-style: solid;
  border-color: #9DBCBC;
  margin: auto;
  margin-top: 20px;
  width: 90%;
  padding-left: 20px;
  position: relative;
  color: black
}

.status-bar-35:after {
  content: '\A';
    position: absolute;
    background-color: #9DBCBC;
    top: 0; bottom: 0;
    left: 0; 
    width: 70%;
    opacity: 0.5
}

.status-bar-36 {
  border-style: solid;
  border-color: #9DBCBC;
  margin: auto;
  margin-top: 20px;
  width: 90%;
  padding-left: 20px;
  position: relative;
  color: black
}

.status-bar-36:after {
  content: '\A';
    position: absolute;
    background-color: #9DBCBC;
    top: 0; bottom: 0;
    left: 0; 
    width: 72%;
    opacity: 0.5
}

.status-bar-37 {
  border-style: solid;
  border-color: #9DBCBC;
  margin: auto;
  margin-top: 20px;
  width: 90%;
  padding-left: 20px;
  position: relative;
  color: black
}

.status-bar-37:after {
  content: '\A';
    position: absolute;
    background-color: #9DBCBC;
    top: 0; bottom: 0;
    left: 0; 
    width: 74%;
    opacity: 0.5
}

.status-bar-38 {
  border-style: solid;
  border-color: #9DBCBC;
  margin: auto;
  margin-top: 20px;
  width: 90%;
  padding-left: 20px;
  position: relative;
  color: black
}

.status-bar-38:after {
  content: '\A';
    position: absolute;
    background-color: #9DBCBC;
    top: 0; bottom: 0;
    left: 0; 
    width: 76%;
    opacity: 0.5
}

.status-bar-39 {
  border-style: solid;
  border-color: #9DBCBC;
  margin: auto;
  margin-top: 20px;
  width: 90%;
  padding-left: 20px;
  position: relative;
  color: black
}

.status-bar-39:after {
  content: '\A';
    position: absolute;
    background-color: #9DBCBC;
    top: 0; bottom: 0;
    left: 0; 
    width: 78%;
    opacity: 0.5
}

.status-bar-40 {
  border-style: solid;
  border-color: #9DBCBC;
  margin: auto;
  margin-top: 20px;
  width: 90%;
  padding-left: 20px;
  position: relative;
  color: black
}

.status-bar-40:after {
  content: '\A';
    position: absolute;
    background-color: #9DBCBC;
    top: 0; bottom: 0;
    left: 0; 
    width: 80%;
    opacity: 0.5
}

.status-bar-41 {
  border-style: solid;
  border-color: #9DBCBC;
  margin: auto;
  margin-top: 20px;
  width: 90%;
  padding-left: 20px;
  position: relative;
  color: black
}

.status-bar-41:after {
  content: '\A';
    position: absolute;
    background-color: #9DBCBC;
    top: 0; bottom: 0;
    left: 0; 
    width: 82%;
    opacity: 0.5
}

.status-bar-42 {
  border-style: solid;
  border-color: #9DBCBC;
  margin: auto;
  margin-top: 20px;
  width: 90%;
  padding-left: 20px;
  position: relative;
  color: black
}

.status-bar-42:after {
  content: '\A';
    position: absolute;
    background-color: #9DBCBC;
    top: 0; bottom: 0;
    left: 0; 
    width: 84%;
    opacity: 0.5
}

.status-bar-43 {
  border-style: solid;
  border-color: #9DBCBC;
  margin: auto;
  margin-top: 20px;
  width: 90%;
  padding-left: 20px;
  position: relative;
  color: black
}

.status-bar-43:after {
  content: '\A';
    position: absolute;
    background-color: #9DBCBC;
    top: 0; bottom: 0;
    left: 0; 
    width: 86%;
    opacity: 0.5
}

.status-bar-44 {
  border-style: solid;
  border-color: #9DBCBC;
  margin: auto;
  margin-top: 20px;
  width: 90%;
  padding-left: 20px;
  position: relative;
  color: black
}

.status-bar-44:after {
  content: '\A';
    position: absolute;
    background-color: #9DBCBC;
    top: 0; bottom: 0;
    left: 0; 
    width: 88%;
    opacity: 0.5
}

.status-bar-45 {
  border-style: solid;
  border-color: #9DBCBC;
  margin: auto;
  margin-top: 20px;
  width: 90%;
  padding-left: 20px;
  position: relative;
  color: black
}

.status-bar-45:after {
  content: '\A';
    position: absolute;
    background-color: #9DBCBC;
    top: 0; bottom: 0;
    left: 0; 
    width: 90%;
    opacity: 0.5
}

.status-bar-46 {
  border-style: solid;
  border-color: #9DBCBC;
  margin: auto;
  margin-top: 20px;
  width: 90%;
  padding-left: 20px;
  position: relative;
  color: black
}

.status-bar-46:after {
  content: '\A';
    position: absolute;
    background-color: #9DBCBC;
    top: 0; bottom: 0;
    left: 0; 
    width: 92%;
    opacity: 0.5
}

.status-bar-47 {
  border-style: solid;
  border-color: #9DBCBC;
  margin: auto;
  margin-top: 20px;
  width: 90%;
  padding-left: 20px;
  position: relative;
  color: black
}

.status-bar-47:after {
  content: '\A';
    position: absolute;
    background-color: #9DBCBC;
    top: 0; bottom: 0;
    left: 0; 
    width: 94%;
    opacity: 0.5
}

.status-bar-48 {
  border-style: solid;
  border-color: #9DBCBC;
  margin: auto;
  margin-top: 20px;
  width: 90%;
  padding-left: 20px;
  position: relative;
  color: black
}

.status-bar-48:after {
  content: '\A';
    position: absolute;
    background-color: #9DBCBC;
    top: 0; bottom: 0;
    left: 0; 
    width: 96%;
    opacity: 0.5
}

.status-bar-49 {
  border-style: solid;
  border-color: #9DBCBC;
  margin: auto;
  margin-top: 20px;
  width: 90%;
  padding-left: 20px;
  position: relative;
  color: black
}

.status-bar-49:after {
  content: '\A';
    position: absolute;
    background-color: #9DBCBC;
    top: 0; bottom: 0;
    left: 0; 
    width: 98%;
    opacity: 0.5
}

.status-bar-50 {
  border-style: solid;
  border-color: #9DBCBC;
  margin: auto;
  margin-top: 20px;
  width: 90%;
  padding-left: 20px;
  position: relative;
  color: black
}

.status-bar-50:after {
  content: '\A';
    position: absolute;
    background-color: #9DBCBC;
    top: 0; bottom: 0;
    left: 0; 
    width: 100%;
    opacity: 0.5
}




